#timepicker:before {
  content: "Time:";
  margin-right: 0.6em;
  color: #9d9d9d;
}

#datepicker:before {
  content: "Date:";
  margin-right: 0.6em;
  color: #9d9d9d;
}


.space {
  margin-left: 15px;
  font-size: 200;
}

agm-map {
  height: 300px;
}