<!-- <div *ngIf="sessionService.user._id"> -->

  <div *ngFor="let reservation of reservationList">

    <h5>{{reservation.restaurant.name}}</h5>
    <p>Date: {{reservation.date}}</p>
    <p>Time: {{reservation.time}}</p>
    <p>People: {{reservation.pax}}</p>
    <p>Status: {{reservation.confirmation}}</p>
    <p>Comments: {{reservation.comment}}</p>
    <span *ngIf="reservation.confirmation != 'Cancelled' && reservation.confirmation != 'Declined'  ">
    <button class="btn" [routerLink]="['/reservations/reservation/', reservation._id]">VIEW MORE DETAILS & ORDER</button>
    </span>
  </div>
  <!-- </div> -->