<div class="container searchbar">
  
  <form class="form-inline">

    <input class="form-control mr-sm-2" [(ngModel)]="searchDate" type="text" placeholder="Date" aria-label="Search" name="date"
      required>
    <input class="form-control mr-sm-2" [(ngModel)]="searchStatus" type="text" placeholder="Status" aria-label="Search" name="confirmation"
      required>
  </form>
</div>


  <div class="row reservationsCard">
    <i class="far fa-check-circle icons"></i>
  <div class="mainCards" *ngFor="let reservation of confirmedReservation |filter:'date':searchDate|  filter:'confirmation':searchStatus">
    <h5>{{reservation.restaurant.name}}</h5>
    <p class="status">{{reservation.confirmation}}</p>
    <p>Date: {{reservation.date}}</p>
    <p>Time: {{reservation.time}}</p>
    <p>People: {{reservation.pax}}</p>
    <p>Comments: {{reservation.comment}}</p>

    <button class="btn" [routerLink]="['/reservations/reservation/', reservation._id]">MORE DETAILS</button>
  </div>
</div>


<div class="row reservationsCard">
    <i class="fas fa-spinner icons"></i>
  <div class="mainCards" *ngFor="let reservation of pendingReservation |filter:'date':searchDate|  filter:'confirmation':searchStatus">
    <h5>{{reservation.restaurant.name}}</h5>
    <p class="status">{{reservation.confirmation}}</p>
    <p>Date: {{reservation.date}}</p>
    <p>Time: {{reservation.time}}</p>
    <p>People: {{reservation.pax}}</p>
    <p>Comments: {{reservation.comment}}</p>

    <button class="btn" [routerLink]="['/reservations/reservation/', reservation._id]">MORE DETAILS</button>
  </div>
  </div>


  <div class="row reservationsCard">
      <i class="fas fa-times-circle icons"></i>
  <div class="mainCards" *ngFor="let reservation of declinedReservation |filter:'date':searchDate|  filter:'confirmation':searchStatus">
    
    <h5>{{reservation.restaurant.name}}</h5>
    <p class="status">{{reservation.confirmation}}</p>
    <p>Date: {{reservation.date}}</p>
    <p>Time: {{reservation.time}}</p>
    <p>People: {{reservation.pax}}</p>
    <p>Comments: {{reservation.comment}}</p>

    <button class="btn" [routerLink]="['/reservations/reservation/', reservation._id]">MORE DETAILS</button>
  </div>
</div>
  


<div class="row reservationsCard">
    <i class="fas fa-ban icons"></i>
  <div class="mainCards" *ngFor="let reservation of cancelledReservation |filter:'date':searchDate|  filter:'confirmation':searchStatus">
    <h5>{{reservation.restaurant.name}}</h5>
    <p class="status">{{reservation.confirmation}}</p>
    <p>Date: {{reservation.date}}</p>
    <p>Time: {{reservation.time}}</p>
    <p>People: {{reservation.pax}}</p>
    <p>Comments: {{reservation.comment}}</p>

    <button class="btn" [routerLink]="['/reservations/reservation/', reservation._id]">MORE DETAILS</button>
  </div>
</div>
  



<div *ngIf="(post?.date | date:'EEEE d MMMM') == (today | date:'EEEE d MMMM'); then isToday else notToday">
  <h3>Passed</h3>
  <div class="mainCards" *ngFor="let reservation of reservationList |filter:'date':searchDate|  filter:'confirmation':searchStatus">
    <h5>{{reservation.restaurant.name}}</h5>
    <p>{{reservation.confirmation}}</p>
    <p>Date: {{reservation.date}}</p>
    <p>Time: {{reservation.time}}</p>
    <p>People: {{reservation.pax}}</p>
    <p>Comments: {{reservation.comment}}</p>

    <button class="btn" [routerLink]="['/reservations/reservation/', reservation._id]">MORE DETAILS</button>
  </div>
</div>



<!-- 


<form class="form-inline">

    <input class="form-control mr-sm-2" [(ngModel)]="searchDate" type="text" placeholder="Date" aria-label="Search" name="date"
      required>
    <input class="form-control mr-sm-2" [(ngModel)]="searchStatus" type="text" placeholder="Status" aria-label="Search" name="confirmation"
      required>
  </form>
  
  <div *ngFor="let reservation of reservationList |filter:'date':searchDate|  filter:'confirmation':searchStatus">
    <h5>{{reservation.restaurant.name}}</h5>
      <div *ngIf="reservation.confirmation == 'Confirmed'">
          <p class="confirmed">{{reservation.confirmation}}</p>
        </div>
        <div *ngIf="reservation.confirmation == 'Pending'">
        <p class="pending">{{reservation.confirmation}}</p>
        </div>
        <div *ngIf="reservation.confirmation == 'Declined'">
        <p class="declined">{{reservation.confirmation}}</p>
        </div>
        <div *ngIf="reservation.confirmation == 'Cancelled'">
        <p class="cancelled">{{reservation.confirmation}}</p>
        </div>
        
        <div *ngIf="(post?.date | date:'EEEE d MMMM') == (today | date:'EEEE d MMMM'); then isToday else notToday">
          <p>PASSED RESERVATION</p>
        </div>
    <p>Date: {{reservation.date}}</p>
    <p>Time: {{reservation.time}}</p>
    <p>People: {{reservation.pax}}</p>
  
  <p>Comments: {{reservation.comment}}</p>
  
  <button class="btn" [routerLink]="['/reservations/reservation/', reservation._id]">MORE DETAILS</button>
  
  </div> -->