.noDisplay{
  display:none;
}

.reservasConfirmadas{
  margin-left: 350px;

}

agm-map {
  height: 300px;
  max-width: 80%;

}

.mapa{
  width: 400px;
  margin-left: 250px;
}

.text {
  color: rgba(24, 34, 48);
  margin-left: 100px;
}

.formulario{
width: 350px;
}

.info{
  margin-top: 40px;
  line-height: 15px;
  margin: 40px auto 0;
}
/* 
margin: 30px auto 0; */

@media screen and (max-width: 600px) {

  h4{
    font-size: 18px;
    margin: 15px 0 25px;
  }
  h5{
    font-size: 17px;
    margin-bottom: 15px;
  }
  p{
    font-size: 14px;
  }
  .mapa {
    width: 365px;
    margin-left: 0px;
  }
  .text{
    margin-left: 10px;
    margin-bottom: 20px;
  }
  button{
    margin-top: 10px;
  }

  .reservasConfirmadas{
    margin-left: 10px;
  }
  .formulario{
    margin: 0 10px;
  }

}