.noDisplay{
  display:none;
}

agm-map {
  height: 300px;
  max-width: 80%;

}

.mapa{
  width: 400px;
}

.text {
  color: rgba(24, 34, 48);
  margin-left: 100px;
}

.formulario{
width: 600px;
}

.info{
  margin-top: 40px;
  line-height: 15px;
  margin: 40px auto 0;
}
/* 
margin: 30px auto 0; */

@media screen and (max-width: 600px) {
  /* .xrow .info {
    width: 300px;
  } */
  .mapa {
    width: 365px;
  }
  .text{
    margin-left: 10px;
    margin-bottom: 20px;
  }
  button{
    margin-top: 10px;
  }
}