<div *ngIf="user">

  <p>Name: {{user.name}}</p>
  <p>Email: {{user.email}}</p>
  <p>Phone Number: {{user.phone}}</p>

  <div *ngIf="user.isClient">
    <p>Age: {{user.age}}</p>

  </div>
  <div *ngIf="user.isRestaurant">
    <p>Address: {{user.address}}</p>
    <p>Type: {{user.type}}</p>
    <p>Tables: {{user.tables}}</p>
     <!-- 
  <button [routerLink]="['/menu', menu._id]">View Menu</button> -->

  </div>
  <p></p>

  <div>
    <button [routerLink]="['/profile/edit',user._id]">Edit profile</button>

    <div></div>

    <div *ngIf="user.isClient">
    <h3>Search</h3>
    <form class="form-inline">
      <!-- searchbar -->
      <input class="form-control mr-sm-2" [(ngModel)]="date" type="date" placeholder="Date" aria-label="Search" name="date" required>
      <!-- <input class="form-control mr-sm-2" [(ngModel)]="time" type="time" placeholder="Time" aria-label="Search" name="time" required> -->
      <input class="form-control mr-sm-2" [(ngModel)]="pax" type="number" placeholder="People" aria-label="Search" name="pax" required>
      <button class="btn" type="submit" (click)="toggleHidden()">Search</button>
    </form>

    <div *ngIf="isHidden">
      <div class="restaurantCard">
        <div *ngFor="let restaurant of restaurantList">
          <h4>{{restaurant.name}}</h4>
          <p>{{restaurant.phone}}</p>
          <p>{{restaurant.address}}</p>
          <p>{{restaurant.type}}</p>
          <button [routerLink]="['/restaurants/restaurant', restaurant._id]">More info</button>
          <button [routerLink]="['/restaurants/restaurant', restaurant._id]">Book</button>
        </div>
        
      <!--<button class="btn btn-primary" (click)="addFood(textInputName, textInputCalories, textInputImage)">Submit New Food</button>-->
    </div>


  </div>



  </div>
</div>
</div>