
<button (click)="getMenu()">View menu</button>

<div *ngIf="isHidden">
<div class="container">
  <div class="row">
    <div class="col-6">
<div *ngFor="let appetizer of appetizers">
      <h5>{{appetizer.appTitle}}</h5>
      <p>Description: {{appetizer.appDescription}}</p>
      <p>Price {{appetizer.appPrice}}€</p>
      <button (click)="delete()">Delete</button>
  </div>


<div *ngFor="let maincourse of maincourses">
    <h5>{{maincourse.mainTitle}}</h5>
    <p>Description: {{maincourse.mainDescription}}</p>
    <p>Price {{maincourse.mainPrice}}€</p>
    <button (click)="delete()">Delete</button>
</div>
</div>

<div class="col-6">
  <div *ngFor="let dessert of desserts">
      <h5>{{dessert.dessertTitle}}</h5>
      <p>Description: {{dessert.dessertDescription}}</p>
      <p>Price: {{dessert.dessertPrice}}</p>
      <button (click)="delete()">Delete</button>
  </div>

  <div *ngFor="let drink of drinks">
      <h5>{{drink.drinkTitle}}</h5>
      <p>Description: {{drink.drinkDescription}}</p>
      <p>Price: {{drink.drinkPrice}}</p>
      <p>Type: {{drink.drinkType}}</p>
      <button (click)="delete()">Delete</button>
  </div>
</div>
</div>
</div>
</div>

