.status{
font-weight: 700;
}


.reservationsCard{
  margin: 60px 80px;
}

.icons{
font-size: 80px;
}

.mainCards{
  margin-left: 80px;
}

.searchbar{
  margin-top: 30px;
}


@media screen and (max-width: 600px) {
  .reservationsCard{
    margin: 50px 20px;
  }
}