  <section class="container">
    <div class="row">
    <h3 class="center-align">SIGN UP</h3>
    <br>
      <article class="col s6 offset-s3">
        <form method="POST" action="formulario-contacto.php">
          <div class="input-field">
            <i class="material-icons prefix">perm_identity</i>
            <label for="username">Username</label>
            <input type="text" [(ngModel)]="username" name="username" required>
          </div>

            <div class="input-field">
            <i class="material-icons prefix">lock</i>
            <label for="password">Password</label>
            <input type="password" [(ngModel)]="password" name="password" required>
          </div>

          <div class="input-field">
            <i class="material-icons prefix">email</i>
            <label for="email">Email</label>
            <input type="email" [(ngModel)]="email" name="email" required>
          </div>

          <div class="input-field">
            <i class="material-icons prefix">account_box</i>
            <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]="isRestaurant" name="isRestaurant" value="value">
            <label class="form-check-label paragraph" for="gridCheck">
              Restaurant
            </label>
            <input class="form-check-input" type="checkbox" id="gridCheck2" [(ngModel)]="isClient" name="isClient" value="value">
            <label class="form-check-label paragraph" for="gridCheck2">
              Client
            </label>

          </div>
  <br><br>
          <div class="center-align">
            <button (click)="signup(username, password, email, isRestaurant, isClient)"class="waves-effect waves-light btn" type="submit"><i class="material-icons right">send</i>Sign up</button>
          </div>
  
        </form>
  
      </article>
    </div>
  </section>
