<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/">Order</a>
  <div *ngIf="sessionService.user">
  <a class="nav-link" [routerLink]="['/profile']">{{sessionService.user.username}}</a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
      <i class="fa fa-bars"></i>
    </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <div *ngIf="sessionService.user">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/restaurants']">Restaurants</a></li>
        <span *ngIf="sessionService.user.isClient">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/reservations/reservations']">My reservations</a></li>
        </span>
        <span *ngIf="sessionService.user.isRestaurant">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/reservations/restaurant-reservations']">My reservations</a></li>
      </span>
        <li class="nav-item"><a class="nav-link" href="#" (click)="logout()">Log Out</a></li>

      </div>
      <div *ngIf="!sessionService.user">
        <li class="nav-item"><a class="nav-link" href="#id" [routerLink]="['/login']">Login</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/signup']">Sign up</a></li>
      </div>
    </ul>
  </div>
</nav>


<div style="text-align:center">

</div>

<router-outlet></router-outlet>