<header>

  <div class="topbar">

    <div class="logo blocks">
      <a class="navbar-brand orderLogo" href="/">Order <i href="/" class="fas fa-concierge-bell bellLogo"></i></a>
    </div>

    <div class="blocks" *ngIf="sessionService.user">
      <a class="userName" [routerLink]="['/profile']">{{sessionService.user.username}}</a>
    </div>

    <i (click)="toggleHidden()" class="fa fa-bars"></i>
  </div>

</header>

  <div class="hidden" *ngIf="sessionService.user && isHidden">
    <span *ngIf="sessionService.user.isClient">
      <li><a [routerLink]="['/profile']">Home</a></li>
      <li><a [routerLink]="['/reservations/reservations']">Reservations</a></li>
    </span>
    <span *ngIf="sessionService.user.isRestaurant">
      <li><a [routerLink]="['/reservations/restaurant-reservations']">Reservations</a></li>
    </span>
    <li><a [routerLink]="['/restaurants']">Restaurants</a></li>
    <li><a href="#" (click)="logout()">Log Out</a></li>
  </div>


  <div class="hidden" *ngIf="!sessionService.user && isHidden">
    <li><a href="#id" [routerLink]="['/login']">Login</a></li>
    <li><a [routerLink]="['/signup']">Sign up</a></li>
  </div>


<router-outlet></router-outlet>