

<div *ngIf="reservation">
  <p>Date: {{reservation.date}}</p>
  <p>Time: {{reservation.time}}</p>
  <p>Address: {{reservation.restaurant.address}}</p>
  <p>Comments: {{reservation.comment}}</p>
      <button class="btn" type="submit" (click)="toggleHidden()">Change</button>
      <span *ngIf="sessionService.user.isClient">
  <button class="btn" (click)="cancelReservation()">Cancel</button>
  </span>
  <span *ngIf="sessionService.user.isRestaurant">
  <button class="btn" (click)="confirmReservation()">Confirm</button>
  <button class="btn" (click)="declineReservation()">Decline</button>
  <button class="btn" (click)="cancelReservation()">NoShow</button>
</span>

<div *ngIf="isHidden">
  <section class="container">
    <div class="row">
    <h3 class="center-align">Edit your Reservation</h3>
    <br>
      <article class="col s6 offset-s3">
        <form *ngIf="reservation">
          <div class="input-field">
            <i class="material-icons prefix">date_range</i>
            <input type="date" [(ngModel)]="reservation.date" name="date" required id="datepicker">
          </div>
  
            <div class="input-field">
            <i class="material-icons prefix">access_time</i>
            <input type="time" [(ngModel)]="reservation.time" name="time" required id="timepicker">
          </div>
  
          <div class="input-field">
            <i class="material-icons prefix">people</i>
            <label for="pax">People</label>
            <input type="number" [(ngModel)]="reservation.pax" name="pax" required>
          </div>
  
          <div class="input-field">
            <i class="material-icons prefix">comment</i>
           <textarea [(ngModel)]="reservation.comment" name="comment"></textarea>
          </div>
  
  
          <div class="center-align">
            <a (click)="editReservation()"class="waves-effect waves-light btn" type="submit"><i class="material-icons right">send</i>Change</a>
          </div>
  
        </form>
  
      </article>
    </div>
  </section>
</div>

</div>

