.formulario{
	width: 250px;
	margin-right: 50px;
	}

.oneReservation{
	margin-top: 40px;
}

.resDetails p{
	margin-left: 15px;
}

.myOrder{
 margin: 50px 0px;
}

.orderMeal h4{
margin-bottom: 30px;
}

.orderMeal{
	background: rgba(42, 44, 52, 0.2);
	padding: 30px;
	border: 1px solid rgba(42, 44, 52, 0.4);
	border-radius: 15px;
}

agm-map {
	height: 300px;
}

.resMap{
	margin-top: 120px;
}

.mapa{
	right: 80px;
}

.reservationButtons{
	margin-left: 20px;
}

.buttonAdd{
	margin-bottom: 25px;
}
