<div class="container">
  <div class="row mainInfoCarte">
    <form class="col-4">
      <h4>Add a Dish</h4>

      <label>Title</label>
      <input type="text" [(ngModel)]="title" max=5 min=0 name="title">
      <textarea [(ngModel)]="description" placeholder="Describe your dish" name="description"></textarea>
      <label>Price</label>
      <input type="number" [(ngModel)]="price" placeholder="0.00€" name="Price" min=0>
      <label>Type of Dish - Appetizer, Main Course, Dessert, Soft Drink, Alcohol, Other</label>
      <input type="text" [(ngModel)]="type" name="type">
      <button class="btn"(click)="createDish(title, description, price, type)"> Create </button>
    </form>


    <div class="col-6 dishes">
      <button class="btn buttonDish" (click)="getDishes()">See all dishes</button>

      <div class="dishInfo" *ngIf="isHidden">
        <div *ngFor="let dish of dishes">
          <h6>{{dish.title}}</h6>
          <p>Description: {{dish.description}}</p>
          <p>Price: {{dish.price}}€</p>
          <p>Type: {{dish.type}}</p>
          <button class="btn" [routerLink]="['/carte/edit', dish._id]">Modify</button>
        </div>
      </div>
    </div>
  </div>
</div>